aws/step-functions/document-processing-state-machine.json
{
  "Comment": "Document processing workflow for healthcare reviews. Extracts text via Textract then routes to Bedrock Claude (bills/claims) or Comprehend Medical (medical records) for semantic field extraction.",
  "StartAt": "ExtractText",
  "States": {
    "ExtractText": {
      "Type": "Task",
      "Comment": "Run Textract AnalyzeDocument (FORMS + TABLES) on the S3 object. All states invoke the same reviewFunction Lambda, dispatched internally via the action field.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "reviewFunction",
        "Payload": {
          "action": "textract_extract",
          "s3Bucket.$": "$.s3Bucket",
          "s3Key.$": "$.s3Key"
        }
      },
      "ResultPath": "$.textractResult",
      "ResultSelector": {
        "raw_text.$": "$.Payload.raw_text",
        "key_values.$": "$.Payload.key_values",
        "tables.$": "$.Payload.tables"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Textract.ProvisionedThroughputExceededException"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ExtractionFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "RouteByDocumentType"
    },

    "RouteByDocumentType": {
      "Type": "Choice",
      "Comment": "Branch to the appropriate NLP analyser based on the document type.",
      "Choices": [
        {
          "Variable": "$.documentType",
          "StringEquals": "hospitalBill",
          "Next": "ExtractBillData"
        },
        {
          "Variable": "$.documentType",
          "StringEquals": "insuranceClaim",
          "Next": "ExtractClaimData"
        },
        {
          "Variable": "$.documentType",
          "StringEquals": "medicalRecord",
          "Next": "ExtractMedicalData"
        }
      ],
      "Default": "UnknownDocumentType"
    },

    "ExtractBillData": {
      "Type": "Task",
      "Comment": "Textract output passed to Bedrock Claude for semantic extraction of bill payment fields (billNo, totalBillAmount, amountToBePayed).",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "reviewFunction",
        "Payload": {
          "action": "extract_bill",
          "raw_text.$": "$.textractResult.raw_text",
          "key_values.$": "$.textractResult.key_values",
          "tables.$": "$.textractResult.tables",
          "documentId.$": "$.documentId"
        }
      },
      "ResultSelector": {
        "payment.$": "$.Payload.payment"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ExtractionFailed",
          "ResultPath": "$.error"
        }
      ],
      "End": true
    },

    "ExtractClaimData": {
      "Type": "Task",
      "Comment": "Textract output passed to Bedrock Claude for semantic extraction of insurance claim fields (claimId, claimAmountApproved, remainingAmountToBePaid).",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "reviewFunction",
        "Payload": {
          "action": "extract_claim",
          "raw_text.$": "$.textractResult.raw_text",
          "key_values.$": "$.textractResult.key_values",
          "tables.$": "$.textractResult.tables",
          "documentId.$": "$.documentId"
        }
      },
      "ResultSelector": {
        "claim.$": "$.Payload.claim",
        "payment.$": "$.Payload.payment"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ExtractionFailed",
          "ResultPath": "$.error"
        }
      ],
      "End": true
    },

    "ExtractMedicalData": {
      "Type": "Task",
      "Comment": "Run Comprehend Medical DetectEntitiesV2 on medical record text, map to extractedData{}.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "reviewFunction",
        "Payload": {
          "action": "extract_medical",
          "raw_text.$": "$.textractResult.raw_text",
          "key_values.$": "$.textractResult.key_values",
          "tables.$": "$.textractResult.tables",
          "documentId.$": "$.documentId"
        }
      },
      "ResultSelector": {
        "confidence.$": "$.Payload.confidence",
        "extractedData.$": "$.Payload.extractedData",
        "purposeOfVisit.$": "$.Payload.purposeOfVisit"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ExtractionFailed",
          "ResultPath": "$.error"
        }
      ],
      "End": true
    },

    "UnknownDocumentType": {
      "Type": "Fail",
      "Error": "UnknownDocumentType",
      "Cause": "documentType must be one of: hospitalBill, insuranceClaim, medicalRecord"
    },

    "ExtractionFailed": {
      "Type": "Fail",
      "Error": "ExtractionFailed",
      "Cause": "Text extraction or NLP analysis step failed."
    }
  }
}
